.playerRotator {
  width: min(45vw, 45vh);
  position: absolute;
  transform-origin: 100% 50%;
  transition: transform 0.5s ease-in-out;
  top: 50%;
  left: 50%;
  display: flex;
}

.playerContent {
  background-size: 144px 140px;
  background: url("../../assets/T_PlayerBgGraySolid.png") -5px;
  border-radius: 50%;
  width: 6em; // relative to own font size to prevent layout issues
  height: 6em;
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: scale 1s ease-in-out;
  // shadow etc to make this look like a raised button
  box-shadow: 0 0 1rem rgb(255, 255, 255);
  cursor: pointer;

  & > * {
    cursor: pointer;
  }

  &.shroud {
    opacity: 0.9;
    background: darken(white, 20%);
    box-shadow: none;
    border: none;
  }

  &.shroud::after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 100%;
    height: 40%;
    background-image: url('../../assets/shroud.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transform: translate(-50%, 0);
  }

  &.notInvolvedInNomination {
    opacity: 0.5;
    background: #888;
    box-shadow: 0 0 1rem #888;
  }

  // .player-content with .nominator should have a very large blue box shadow, while .nominee should have red
  &.nominator {
    background-size: 144px 140px;
    background: url("../../assets/T_PlayerBgBlueSolid.png") -5px;
    box-shadow: 0 0 4rem #646cffaa;
    font-weight: 800;
    scale: 1.1;
  }
  &.nominee {
    background-size: 144px 140px;
    background: url("../../assets/T_PlayerBgRedSolid.png") -5px;
    box-shadow: 0 0 4rem #ff6464aa;
    font-weight: 800;
    scale: 1.1;
  }
}

.name {
  display: flex;
  justify-content: center;
  align-items: center;
}

@for $i from 1 through 100 {
  .playerRotator:nth-of-type(#{$i}) {
    transform: translate(-100%, -50%) rotate(calc(90deg + 360deg / var(--num-players) * calc(#{$i} - 1)));
    & > * {
      transform: rotate(calc(-90deg - 360deg / var(--num-players) * calc(#{$i} - 1)));
    }
  }
}