.button {
  // make it look like a material button with shadow and padding etc
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: 1px solid #888;
  box-shadow: 0 0 0.5rem #888;
}

.character {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 5px;
  border: 1px solid #888;
  box-shadow: 0 0 0.5rem #888;
  background-color: #fff;

  & > * {
    width: 100%;
    height: 100%;
  }

  &.disabled::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
  }

  &.selected {
    border: 2px solid #0f0;
    box-shadow: 0 0 0.5rem #0f0;
  }
}
