.killOrResurrectButton {
  // make it look like a material button with shadow and padding etc
  padding: 1rem 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.5rem #888;
}

.header {
  display: flex;
  justify-content: center;
}

.characterName {
  padding-left: 10px;
}

.characterSelectionContainer {
  display: flex;
  width: 100%;
  align-items: flex-start;
  position: relative;
  padding-block: 1rem;
  gap: 1rem;
}

.characterSelectionTable {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  width: 100%;
  padding: 1rem;
  justify-content: center;
  overflow-y: scroll;
  border-radius: 0.2rem;
  height: 300px;
}

.character {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 5px;
  border: 1px solid #888;
  box-shadow: 0 0 0.5rem #888;
  background-color: #fff;

  & > * {
    width: 100%;
    height: 100%;
  }

  &.disabled::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
  }

  &.selected {
    border: 2px solid #0f0;
    box-shadow: 0 0 0.5rem #0f0;
  }

  &.header {
    border: 2px solid #0f0;
    box-shadow: 0 0 0.5rem #0f0;
    width: 70px;
    height: 70px;
  }
}

.noCharacter {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: #888;
}

.arrow {
  padding: 1rem 0.5rem;
  font-size: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.5rem #888;
  background-color: black;
  color: white;
  height: 50%;
  align-self: center;
}

.removePlayerButton {
  padding: 0.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.5rem red;
  background-color: hsl(359, 100%, 30%);
  color: white;
  font-size: 1rem;
  flex: none;
}
