.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
}

.playerButton {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  margin-bottom: 0.5rem;
  background-color: #fff;
  cursor: move;
  transition: background-color 0.2s ease-in-out;
  &:hover {
    background-color: #f5f5f5;
  }
  &:last-child {
    margin-bottom: 0;
  }
  color: black;
}

.remove {
  background-color: #f00;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: color 0.2s ease-in-out;
  &:hover {
    background-color: #c00;
  }
}

h2 {
  font-size: 1.5rem;
}

form {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
}

input {
  border-radius: 0.5rem;
  border: 1px solid #888;
  padding: 0.5rem;
  box-shadow: 0 0 0.5rem #888;
  font-family: "Vinque", sans-serif;
}

.addPlayerButton {
  background-image: url("../../assets/T_AddButton.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 2rem;
  height: 2rem;
  border-radius: 0.5rem;
  padding: 0.5rem;
  box-shadow: 0 0 0.3rem #888;
}
