.loadingModal {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.loadingSpinner {
  /* pure css spinner */
  width: 50px;
  height: 50px;
  border: 5px solid #f3f3f3;
  border-top: 5px solid #3498db;
  border-radius: 50%;
  animation: spin 2s linear infinite;

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

.loadingText {
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 1rem;

  &small {
    font-size: 0.75rem;
    font-weight: 400;
  }
}
