.modal {
  position: fixed; /* Stay in place */
  z-index: 1000; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  position: relative;
  background-size: 100% 100%;
  background-image: url("../assets/T_ButtonBg.png");
  background-repeat: no-repeat;
  margin: auto;
  padding: 3rem;
  width: min(35rem, 95%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.closeModalX {
  cursor: pointer;
  position: absolute;
  top: 0.1rem;
  right: 0.1rem;
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.5rem #888;
  background-color: black;
  color: white;
}

// on desktop, make the modal content only 50% and the modal takes into account the 2rem taken by the right side drawer
@media (min-width: 768px) {
  .modal {
    padding-right: 2rem;
  }
}
