.modal {
  position: fixed; /* Stay in place */
  z-index: 1000; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  background-size: 100% 100%;
  background-image: url("../assets/T_ButtonBg.png");
  background-repeat: no-repeat;
  margin: auto;
  padding: 3rem;
  width: min(35rem, 95%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  & > h2 {
    font-size: 1.5rem;
  }

  & > form {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
  }

  & > .buttons {
    display: flex;
    justify-content: space-evenly;
    margin-top: 1rem;
  }

  // make text input and buttons nicer looking (box shadows, border radiuses etc)
  input {
    border-radius: 0.5rem;
    border: 1px solid #888;
    padding: 0.5rem;
    box-shadow: 0 0 0.5rem #888;
    font-family: "Vinque", sans-serif;
  }

  button {
    background-image: url("../assets/T_AddButton.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 2rem;
    height: 2rem;
    border-radius: 0.5rem;
    padding: 0.5rem;
    box-shadow: 0 0 0.3rem #888;
  }
}

// on desktop, make the modal content only 50% and the modal takes into account the 2rem taken by the right side drawer
@media (min-width: 768px) {
  .modal {
    padding-right: 2rem;
  }
}
