#gameBoardContainer {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-block: 4rem;

  @media (min-width: 768px) {
    justify-content: center;
    padding: 0;
  }
}

#gameBoard {
  position: relative;
  width: min(100vw, 100vh);
  height: min(100vw, 100vh);

  background-image: url("../../assets/T_GameBoard.png");
  background-size: 100% 100%;
}

.clockhand {
  pointer-events: none;
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  // add a smooth transition to the rotation
  transition: transform 0.5s ease-in-out;

  & > img {
    height: 100%;
    object-fit: contain;
  }

  &.clockhandMinute {
    height: 60%;
    transform: translate(-50%, -50%)
      rotate(calc(360deg / var(--num-players) * var(--nominee-index)));
  }
  &.clockhandHour {
    width: 70%;
    height: 70%;
    transform: translate(-50%, -50%)
      rotate(calc(360deg / var(--num-players) * var(--nominator-index)));
  }
}

.addPlayerInstruction {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 0.8rem;
  color: white;
  text-shadow: 0 0 0.5rem black;
  text-align: center;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background: rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 0.5rem black;
  cursor: pointer;
  line-height: 1rem;
  display: flex;
  flex-direction: column;

  @media (min-width: 768px) {
    line-height: inherit;
    font-size: 1.5rem;
  }
}
