body,
html {
  overflow: hidden;
}

body {
  --nominator-index: 0;
  --nominee-index: 0;
  font-size: 3vw;
  height: calc(100% - env(safe-area-inset-top) - env(safe-area-inset-bottom));
  width: 100%;
}

// on desktop, decrease font-size
@media (min-width: 768px) {
  body {
    font-size: 1.5vw;
  }
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

// Mobile first: define mobile layout first, then add media queries for larger screens
.App {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 15vh;

  @media (min-width: 768px) {
    padding-top: 10vh;
    justify-content: center;
    flex-direction: row;
    padding-top: 0;
  }
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.gameStageIndicator {
  position: fixed;
  top: 0;
  left: 0;
  padding: 1rem;
  background: rgba(0, 0, 0, 0.6);
}
