:root {
  line-height: 24px;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  height: calc(100vh - env(safe-area-inset-bottom));
}

@font-face {
  font-family: "Vinque";
  src: url("./assets/vinque.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "Vinque", sans-serif;
  font-size: 16px;
  font-weight: 400;
  
  box-sizing: border-box;
  /* border: 1px solid white; */
  border: 0;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  position: relative;
  display: flex;
  padding-bottom: env(safe-area-inset-bottom);
}

#root {
  flex: 1;
}
